.movie-search-home {
    width: 100%; 
    padding: 10px; 
}
.movie-search-home h1 {
    width: 100%; 
    padding: 3px; 
}

.movie-search-section {
    text-align: center; 
}
.movie-search-wrapper {
    padding: 40px 10px 10px 10px; 

}
